<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
    <title>Layout</title>
    <link rel="stylesheet"
      th:href="@{/css/bootstrap.min.css}"
      href="../../css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand"
              href="https://github.com/ultraq/thymeleaf-layout-dialect">
              KRABBE-UI
          </a>
          <ul class="nav">
            <li>
              <a th:href="@{/}" >
                Kunden Registrierung
              </a>
            </li>
            <li>
              <a th:href="@{/en}" >
                User Registration
              </a>
            </li>
          </ul>
        </div>
      </div>
      <h1 layout:fragment="header">Layout</h1>
      <div layout:fragment="content">
        Fake content
      </div>
    </div>
  </body>
</html>
